/* center boxes and apply accessibility-friendly colors. */
@media (max-width: 300px) {
    .container + button {   
      flex-direction: column;
    }
}
body{
    background-color: lightsteelblue;
}
h1 {
    text-align: center;
    margin-bottom: 100px;
}
/*
.iconLogo {
    display: block;
    margin-right: auto;
    margin-left: auto;
} */
.container {
    position: sticky;
    border: 10px solid linen;
    background-color: lightgrey;
    max-width: 40%;
    border-radius: 10px;
    padding: 50px;
    padding-bottom: 60px;
    margin: auto;
}
#quoteMsg {
    line-height: 1.1;
    text-align: left;
}
button {
    position: sticky;
    margin-top: 420px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 12px;
    left: 45%;
    right: 45%;
    top: 13.65%;
    bottom: 77.58%;
    background-color: linen;
    box-shadow: 2px 1px lightskyblue;
    border: 3px ridge white;
    border-radius: 10px;
    cursor: pointer;
    text-align: right;
    transition: 0.4s;
}
button:hover {
    background-color: lightskyblue;
    color: black;
}