/* center boxes and apply accessibility-friendly colors. */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400&display=swap');
@media only screen and (min-width: 200px) {
body {
    color: black;
    font-weight: 410;
    font-family: 'Newsreader', serif;
    background: no-repeat url("https://images.pexels.com/photos/6585236/pexels-photo-6585236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=631&w=1496");
    background-position: center top;
}
}
h1 {
    text-align: center;
    font-weight: 210;
    margin-bottom: 100px;
    cursor: pointer;
}
.iconLogo {
    border: 1px solid linen;
    border-radius: 8px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 40px;
    max-height: 40px;
}
.container {
    border: 10px solid linen;
    background: url("https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 40%;
    border-radius: 10px;
    padding: 50px;
    padding-bottom: 60px;
    margin: auto;
    cursor: pointer;
}
#quoteMsg {
    line-height: 1.1;
    font-size: 20px;
    text-align: center;
}
button {
    position: absolute;
    margin-top: 420px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 29px;
    left: 45%;
    right: 45%;
    top: 13.65%;
    bottom: 77.58%;
    background-color: linen;
    box-shadow: 2px 1px lightskyblue;
    border: 3px ridge white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
}
button:hover {
    background-color: lightskyblue;
    color: black;
}